In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Classes e mÃ©todos utilizados#

In [ ]:
class doolittle:

  def __init__(self,matrix):

    self.matrix = matrix

  def get_LU(self):

    n=len(self.matrix)
    [l,u]=[np.zeros([n,n]),np.zeros([n,n])]
    
    for j in range(n):
        #print(u[0][j],self.matrix[0][j],l[j][j])
        u[0][j] = self.matrix[0][j]
        l[j][j] = 1
    
    for i in range(1,n):

      l[i][0] = self.matrix[i][0]/u[0][0]
      
    for i in range(1,n):
      
      for j in range(1,n):
        
        if j>=i:
          aux = 0

          for z in range(0,i):

            aux += l[i][z]*u[z][j]
          
          u[i][j] = self.matrix[i][j] - aux

        if j<i:
          aux = 0
        
          for z in range(0,j):

            aux += l[i][z]*u[z][j]
        
          l[i][j] = (self.matrix[i][j]-aux)/u[j][j]

      
    return [l,u]

  def get_y(self,l,b):

    y = np.zeros(len(self.matrix))

    y[0] = b[0]

    for i in range(1,len(b)):

      aux = 0

      for j in range(0,i):
          
        aux += y[j]*l[i][j]

      y[i] = b[i] - aux
      
    return y


  def final_result(self,u,y):

    n = len(y) - 1
    x = np.zeros(n+1)
    #print(y,x)
    x[n] = y[n]/u[n][n]

    for i in range(n-1,-1,-1):
      aux = 0
      for j in range(n,i-1,-1):
        aux += u[i][j]*x[j]
      
      x[i] = (y[i] - aux)/u[i][i]
    
    return x

#Projeto 02#

In [ ]:
matrix= [[0.866,0,-0.5,0,0,0],[0.5,0,0.866,0,0,0],[-0.866,-1,0,-1,0,0],[-0.5,0,0,0,-1,0],[0,1,0.5,0,0,0],[0,0,-0.866,0,0,-1]]

b = [0,-1000,0,0,0,0]

doolittle_method = doolittle(matrix)

[l,u] = doolittle_method.get_LU()

print(f"Matrix L e U respectivamente\n")

display(pd.DataFrame(l))
display(pd.DataFrame(u))

y=doolittle_method.get_y(l,b)
print(f"\nVetor Y = {y}\n")
x = doolittle_method.final_result(u,y)

print(f"\nresultado final: {x}")

Matrix L e U respectivamente

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: RuntimeWarning: divide by zero encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:41: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:39: RuntimeWarning: invalid value encountered in double_scalars

          0    1    2    3    4    5
0  1.000000  0.0  0.0  0.0  0.0  0.0
1  0.577367  1.0  0.0  0.0  0.0  0.0
2 -1.000000 -inf  1.0  0.0  0.0  0.0
3 -0.577367  NaN  NaN  1.0  0.0  0.0
4  0.000000  inf  NaN  NaN  1.0  0.0
5  0.000000  NaN  NaN  NaN  NaN  1.0

       0    1         2    3    4    5
0  0.866  0.0 -0.500000  0.0  0.0  0.0
1  0.000  0.0  1.154684  0.0  0.0  0.0
2  0.000  0.0       inf  NaN  NaN  NaN
3  0.000  0.0  0.000000  NaN  NaN  NaN
4  0.000  0.0  0.000000  0.0  NaN  NaN
5  0.000  0.0  0.000000  0.0  0.0  NaN

Vetor Y = [    0. -1000.   -inf    nan    nan    nan]


resultado final: [nan nan nan nan nan nan]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:75: RuntimeWarning: invalid value encountered in double_scalars

In [ ]:
print(pd.DataFrame(matrix).to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &      0 &  1 &      2 &  3 &  4 &  5 \\
\midrule
0 &  0.866 &  0 & -0.500 &  0 &  0 &  0 \\
1 &  0.500 &  0 &  0.866 &  0 &  0 &  0 \\
2 & -0.866 & -1 &  0.000 & -1 &  0 &  0 \\
3 & -0.500 &  0 &  0.000 &  0 & -1 &  0 \\
4 &  0.000 &  1 &  0.500 &  0 &  0 &  0 \\
5 &  0.000 &  0 & -0.866 &  0 &  0 & -1 \\
\bottomrule
\end{tabular}

#Projeto 04#

In [ ]:
matrix = [[30,-20,0],[-20,30,-10],[0,-10,10]]

b=[19.6,29.4,24.5]
doolittle_method = doolittle(matrix)

[l,u] = doolittle_method.get_LU()

print(f"Matrix L e U respectivamente\n")

display(pd.DataFrame(l))
display(pd.DataFrame(u))

y=doolittle_method.get_y(l,b)
print(f"\nVetor Y = {y}\n")
x = doolittle_method.final_result(u,y)

print(f"\nresultado final: {x}")

Matrix L e U respectivamente

          0    1    2
0  1.000000  0.0  0.0
1 -0.666667  1.0  0.0
2  0.000000 -0.6  1.0

      0          1     2
0  30.0 -20.000000   0.0
1   0.0  16.666667 -10.0
2   0.0   0.000000   4.0

Vetor Y = [19.6        42.46666667 49.98      ]


resultado final: [ 7.35  10.045 12.495]

In [ ]:
print(pd.DataFrame(l).to_latex())

\begin{tabular}{lrrr}
\toprule
{} &         0 &    1 &    2 \\
\midrule
0 &  1.000000 &  0.0 &  0.0 \\
1 & -0.666667 &  1.0 &  0.0 \\
2 &  0.000000 & -0.6 &  1.0 \\
\bottomrule
\end{tabular}

In [ ]:
print(pd.DataFrame(u).to_latex())

\begin{tabular}{lrrr}
\toprule
{} &     0 &          1 &     2 \\
\midrule
0 &  30.0 & -20.000000 &   0.0 \\
1 &   0.0 &  16.666667 & -10.0 \\
2 &   0.0 &   0.000000 &   4.0 \\
\bottomrule
\end{tabular}

In [ ]:
print(pd.DataFrame(matrix).to_latex())

\begin{tabular}{lrrr}
\toprule
{} &   0 &   1 &   2 \\
\midrule
0 &  30 & -20 &   0 \\
1 & -20 &  30 & -10 \\
2 &   0 & -10 &  10 \\
\bottomrule
\end{tabular}